connection:
	certificate: /../../../cert/cuer.pem
	certificatePassword: pass

user:
	privateKey: /../../../cert/private.key
	privateKeyPassword: pass
	certificate: /../../../cert/crt.pem
	suklUid: uid
	suklPassword: pass